#logo {
   width: 300px;
   height: auto;
}

hr {
   margin-top: 4px;
   margin-bottom: 25px;
}

.row {
   text-align: center;
}


.wrapper{
   position: relative;
}
.wrapper .carousel {
   display: grid;
   grid-auto-flow: column;
   overflow: auto;
   gap: 42px;
}
.carousel .card{
   list-style: none;
}

#prev{
   height: 50px;
   width: 50px;
   position: absolute;
   cursor: pointer;
   border-radius: 50%;
   line-height: 50px;
   text-align: center;
}
#nextButton{
   height: 50px;
      width: 50px;
      position: absolute;
      cursor: pointer;
      border-radius: 50%;
      line-height: 50px;
      text-align: center;
}
a {
   text-decoration: none;
   display: inline;
   padding: 8px 16px;
}

a:hover {
   background-color: #ddd;
   color: black;
}


.round {
   border-radius: 50%;
}
